body {
    display: flex;
    justify-content: center;
}

* {
    border: 1px solid black;
}

.btn1 {
    border: 1px solid red;
    color: red;
    border-radius: 100vmax;
    text-decoration: none;
    text-align: center;
    padding: 1em 3em;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.btn1:hover {
    background: red;
    color: white;
}


/* button two design  */
.btn2{
    border: 1px solid red;
    text-decoration: none;
    padding: 1em 3em;
    text-align: center;
    display: inline-block;
    list-style: none;
    background: red;
    color: white;
    border-radius: 100vmax;
}
.btn2:hover{
    background: white;
    color: red;
}