.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

/* * {
    border: 1px black solid;
} */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* button one css  */

.btn1 {
    border: 1px solid red;
    color: red;
    border-radius: 100vmax;
    text-decoration: none;
    text-align: center;
    padding: 1em 3em;
    margin: 0;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: 1000ms;
    transition-property: background, color;
}

.btn1:hover {
    background: red;
    color: white;
}


/* button two design  */
.btn2 {
    border: 1px solid red;
    text-decoration: none;
    padding: 1em 3em;
    text-align: center;
    display: inline-block;
    list-style: none;
    background: red;
    color: white;
    border-radius: 100vmax;
    cursor: pointer;
    transition: 1000ms;
    transition-property: background, color;

}

.btn2:hover {
    background: white;
    color: red;
}

/* button three css */
.btn3 {
    border: 1px solid red;
    text-decoration: none;
    padding: 1em 3em;
    text-align: center;
    display: inline-block;
    list-style: none;
    background: white;
    color: red;
    border-radius: 100vmax 0;
    cursor: pointer;
    transition: 1000ms;
    transition-property: background, color;

}

.btn3:hover {
    background: red;
    color: white;
}

/* button four css */
.btn4 {
    border: 1px solid red;
    text-decoration: none;
    padding: 1em 3em;
    text-align: center;
    display: inline-block;
    list-style: none;
    background: red;
    color: white;
    border-radius: 100vmax 0;
    cursor: pointer;
    transition: 1000ms;
    transition-property: background, color;
}

.btn4:hover {
    background: white;
    color: red;
}
